* {
    height: 50px;
}
.clearfix {
    clear: both;
}
.left-item, .right-item {
    float: left;
}
header {
    background-color: #0ef41a;
}
nav {
    background-color: #f48c0d;
}
.left-item {
    background-color: #f0f40d;
    width: 75%;
}
.right-item {
    background-color: #0df4f0;
    width: 25%;
}
div footer {
    background-color: #fc8dd7;
}
